body {
	font-family: "Montserrat", sans-serif;
	font-size: 1.2rem;
}

html,
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	height: 100%;
	align-items: center;
	justify-content: center;
}

i {
	color: #462749;
}

.footer {
	background: #18091f;
	height: 400px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

/* TITLES */

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	color: #462749;
	margin-bottom: 0rem;
	margin-top: 2rem;
}

h3 {
	font-weight: 600;
	font-size: 1.6rem;
}

h2 {
	font-weight: 700;
	font-size: 2rem;
	color: #462749;
	margin: 0;
}

h4 {
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: 0.8rem;
	margin-top: 0.8rem;
}

/* HEADER */

.menu {
	display: flex;
	justify-content: space-between;
	padding: 0 40px 0 40px;
	width: 100%;
}

.navbar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	margin-bottom: 0;
	margin-top: 0;
}

.nav-link {
	margin-right: 15px;
	text-decoration: none;
}

.logo {
	width: 350px;
	padding: 30px;
}

.header {
	background-color: #18091f;
	display: flex;
	justify-content: center;
}

li {
	border-radius: 15px;
}

.mouse:hover {
	opacity: 60%;
}

.header a {
	font-size: 0.9rem;
	color: white !important;
}

/* MAIN - EM DESTAQUE */

#filme-principal {
	min-height: 800px;
	position: relative;
}

.vertical {
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #18091f 10%, transparent 90%);
	position: absolute;
}

.horizontal {
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #18091f 30%, transparent 70%);
	position: absolute;
}

#filme-principal h1 {
	margin: 3rem 50px;
	font-weight: bold;
	font-size: 3.5rem;
	text-align: left;
	color: white;
}

#filme-principal p {
	margin: 10px 50px;
	font-size: 1rem;
	text-align: left;
	color: white;
}

.conteudo-principal {
	width: 50%;
	margin-top: 100px;
}

.principal-info {
	max-width: 200px;
	font-weight: bold;
	display: flex;
	margin: 15px 50px;
	color: white;
	justify-content: space-between;
}

a:hover {
	color: #18091f;
}

a {
	color: rgb(70, 39, 73);
}

#row-movies h2 {
	color: white;
	margin-left: 40px;
	margin-bottom: 1rem;
}

#row-movies {
	background: linear-gradient(to bottom, #18091f 30%, rgb(186, 209, 205) 70%);
}

#destaque {
	display: flex;
	justify-content: space-between;
	width: 8000px;
}

#pontos {
	display: flex;
	align-self: flex-start;
	font-weight: bold;
}

.movie img {
	width: 100%;
	height: 100%;
}

.movie-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.movie-info h3 {
	font-size: 1.5rem;
	color: rgb(70, 39, 73);
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

#destaque img,
#destaque.movie {
	width: 400px;
}

.movie {
	width: 400px;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	transform: scale(0.95);
	box-shadow: 0px 0.5px 5px black;
	transition: 0.5s all;
}

.movie:hover {
	transform: scale(1);
}

.overview {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	padding: 1rem;
	max-height: 100%;
	transform: translateY(101%);
	transition: 0.5s ease-in all;
}

.movie:hover .overview {
	transform: translateY(0);
}

.scroll {
	font-size: 2.5rem;
	background-color: rgba(45, 23, 47, 0.3);
	padding: 10px;
	height: 587px;
	width: 50px;
	z-index: 99;
	overflow: hidden;
	cursor: pointer;
	opacity: 0;
	transition: 0.5s all;
}

.movies:hover .scroll {
	opacity: 1;
}

.scroll i {
	color: white;
}

#row-movies {
	position: relative;
}

.scroll {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.scroll-left {
	left: 0;
}

.scroll-right {
	right: 0;
}

/* SECTION AVALIACOES */

#avaliacoes {
	padding: 3rem 30px 0;
	background-color: rgb(186, 209, 205);
}

#avaliacoes h2 {
	margin-bottom: 2rem;
}

.box-avaliacao p {
	text-align: justify;
}

.avaliacao {
	max-width: 800px;
	background-color: #eee;
	margin: 10px;
}

.nome {
	display: flex;
	font-weight: 700;
	font-size: 1.5rem;
	text-align: center;
	margin: 0;
}

.avaliacoes img {
	border-radius: 15px;
	box-shadow: 1px 1px 3px #999;
	padding: 0px;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.avaliacoes {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.avaliacao {
	border: 1px solid #999;
	box-shadow: 2px 2px 5px #999, -2px -2px 5px #999;
	border-radius: 15px;
	width: 32%;
	padding: 20px;
	transition: 0.5s all;
}

#novidades {
	padding: 3rem 30px 20px;
	display: flex;
}

.avaliacao:hover {
	box-shadow: 1px 1px 2px #999, -1px -1px 2px #999;
}

.data p {
	text-align: center;
}

/* SECTION ENTREVISTAS */

iframe {
	max-width: 100%;
}

#entrevista {
	background-color: rgb(186, 209, 205);
	display: flex;
	flex-direction: column;
	padding: 60px 40px;
}

#entrevista h2 {
	margin-bottom: 2rem;
}

.entrevistas {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* SECTION NOVIDADES */

.noticias {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.new {
	display: flex;
	justify-content: center;
	align-items: center;
}

.new img {
	width: 300px;
	height: 200px;
	margin-right: 15px;
}

.new p {
	text-align: justify;
}

.tags div {
	display: inline;
	background-color: rgb(70, 39, 73);
	color: white;
	border-radius: 15px;
	padding: 5px;
	font-size: 0.9rem;
}

.social h3 {
	margin-bottom: 0.5rem;
	color: rgb(70, 39, 73);
}

.tags {
	margin-bottom: 1rem;
}

#novidades h2 {
	margin-bottom: 1rem;
}

#novidades i {
	font-size: 2rem;
}

.icones i {
	font-size: 2.5rem !important;
}

.sobre-descricao {
	margin-bottom: 0px;
	text-align: justify;
}

.editorial h2 {
	margin-top: 2rem;
}

.social h3 {
	margin-top: 1rem;
}

.icones i:hover {
	color: rgb(119, 55, 126);
}

/* FOOTER */

.footer p {
	font-size: 1.4rem;
	color: white;
	margin: 0 10px 50px 10px;
	text-align: center;
}

.footer img {
	margin-top: 70px;
	width: 400px;
}

/*-----------------------------------------------------------------------*/

#buscar {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("./img/bg.jpg");
	background-size: cover;
	height: 650px;
}

#resultado {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	justify-content: center;
	background: #18091f;
}

#resultado img {
	width: 500px;
}

#resultado .movie {
	width: 500px;
}

#search {
	border-radius: 30px;
	border: none;
	padding: 20px;
	font-size: 1.5rem;
	width: 450px;
}

input:focus,
select:focus {
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
}

.cover {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to top, #18091f 10%, transparent 90%);
	width: 100%;
	height: 100%;
}

/*-----------------------------------------------------------------------*/

@media screen and (max-width: 991px) {
	.avaliacoes {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.avaliacao {
		width: 100%;
		margin-bottom: 30px;
	}

	.avaliacao:last-child {
		margin-bottom: 0px;
	}
}

/* Large devices (1399.98px) */
@media screen and (min-width: 1199.98px) and (max-width: 1399.98px) {
}

/* Large devices (desktops, 992px to 1199) */
@media (max-width: 1199.98px) {
	.new {
		flex-direction: column;
	}
	.entrevistas {
		justify-content: center;
	}
}

/*  Medium devices (tablets, 768px to 991.98px) */
@media (max-width: 991.98px) {
	#novidades {
		flex-direction: column;
	}
}

/* Small devices (landscape phones, 576px to 767.98) */
@media screen and (max-width: 767.98px) {
	.menu {
		flex-direction: column;
	}

	.navbar {
		margin-bottom: 20px;
		padding: 0px;
		justify-content: center;
	}

	li:last-child .nav-link {
		margin-right: 0px;
	}

	.logo {
		max-width: 80%;
	}

	.menu a {
		display: flex;
		justify-content: center;
	}

	#filme-principal h1 {
		font-size: 2rem;
		margin-top: 0px;
		margin: 0 30px 10px 30px;
	}
	#filme-principal p {
		font-size: 0.8rem;
		margin: 10px 30px;
	}

	#filme-principal {
		min-height: 500px;
	}

	.principal-info {
		width: 100%;
		max-width: 400px;
	}

	.conteudo-principal {
		width: 100%;
		margin-top: 40px;
	}

	.movie {
		width: 200px;
	}

	#destaque img {
		max-width: 200px;
	}

	#destaque {
		width: 4000px;
	}

	.overview p {
		font-size: 0.5em;
	}

	.movie-info h3 {
		font-size: 0.8em;
		margin-bottom: 0px;
	}

	#pontos {
		font-size: 0.7em;
	}

	.scroll {
		font-size: 2rem;
		background-color: rgba(45, 23, 47, 0.3);
		padding: 10px;
		height: 280px;
		width: 20px;
	}
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
}
/*-----------------------------------------------------------------------*/
